.dropdown-item {
  color: #9cc264 !important;
  // changes color of the TOP NAVBAR items in dropdown
  // this gives some orange color
}

.o_main_navbar {
  border: 2px solid #000;
  // background-color: #00438a;
  background-color: #9cc264;
  -webkit-box-shadow: Opx Opx 8px #00438a;
  box-shadow: Opx Opx 8px #00438a;
  }

