//we link this file in the assets xml

footer{
    border-top: 25px solid theme-color('primary');
    // this adds a big solid line at the top of the footer with a primary color
}

.test_jumbo {
    border: 10px solid #00A9A9;
    padding: 20px;
    background-color: #FF8C42;
    background: url('https://api.iconify.design/flat-color-icons:bullish.svg') no-repeat center center / contain;

    p{
//         font-style: italic;
//         font-variant: small-caps;
        text-size:35px;
//         outline-style: solid;
//         outline-color: #995D81;
        text-decoration: underline;
        text-shadow: 1px 1px 2px rgba(102,137,161,0.5);
    }
}

.services {
    background: #EAEAEA;
    padding: 1em;
    margin: 2em 0 3em;
    li {
        display: block;
        position: relative;
        background-color: #FF8C42;
        color: #FFF;
        padding: 2em;
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;

    }
}

.section,[class^='col-lg-4'] {
//     background-color: #16aed9;
//     ^^ OVA SMENI GO OTI IMA NEKOJ GLOBAL EFEKT
    &.color1 {
        background-color: #995D81;
        background: url('https://api.iconify.design/flat-color-icons:charge-battery.svg') no-repeat left center / contain;
        border: 4px solid #86CD82;
    }
    &.color2 {
        background-color: #EB8258;
        background: url('https://api.iconify.design/flat-color-icons:globe.svg') no-repeat left center / contain;
        border: 4px solid #86CD82;
    }
    &.color3{
        background-color: #16aed9;
        border: 4px solid #86CD82;
        background: url('https://api.iconify.design/flat-color-icons:shipped.svg') no-repeat left center / contain;
    }
    &.backgroundcolor{
        background-color: #86CD82;
        border: 4px solid #86CD82;
    }
    &.none{
//         background-color: #16aed9;
    }
}

.s_testimonial{
    padding: 10px;
    p{
        font-size: 18px;
        font-align: right;
        margin-left: 10px;
    }

    .col{
        padding: 5px;
    }
}

.green_template{
        background-image: url('/theme_test/static/images/background_banner.jpg');
        //background-position: 200% 0px;
        background-repeat: no-repeat;
        background-size: cover;
        h1{
            text-align: center;
            font-size: 62px;
            font-weight: bold;
        }
        .col{
            background-color: transparent;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px inset !important;
            .jumbotron{
                border-radius: 25px;
                padding-bottom: 32px;
                padding-top: 24px;
            }

        }
}
.cover_snippet{
    background-image: url('/theme_test/static/images/cover_background.jpg');
    h1{
        text-align: center;
        font-size: 62px;
        font-weight: bold;
    }
    p{
       text-align: center;
    }
}

.text_image_snippet{
    padding-top: 32px;
    padding-bottom: 32px;
    .row{
        align-items: center;
    }
    .col{
        padding-top: 16px;
        padding-bottom: 16px;

    }
}

.numbers_snippet{
    background-color: #9cc264;
    color: #FFFFFF;
    .h6_text{
        color: #ffffff;
    }
}

.picture_snippet{
    h2{
        text-align: center;
        font-size: 62px;
    }

    p{
        text-align: center;
    }
}

.columns_snippet{
    .card-img-top{
        height: 200px;
    }
}

.bigboxes_snippet{
    img{
        margin: 10px;
        width: 150px;
        height: 150px;
    }
}
.features_snippet{
    background-color: #85CE9B;
    img{
        margin: 10px;
        width: 110px;
        height: 110px;
    }
}

.masonry_snippet{
    text-align: center;
}

.medialist_snippet{
    img{
        margin-right: 15px;
    }
}

.showcase_snippet{
    i{
        color: rgb(59, 195, 122);
//            color: #3BC37A;
    }
}

.pricelist_snippet{
    background-image: url('/theme_test/static/images/pricelist_image.jpg');
    background-position: 100% 35%;
}

.quotes_snippet{
    .carousel-item{
        background-position: 50% 50%;
        min-height: 354px;
    }
}

